.game-container{
  margin: 2rem;
}
.score-board {
  height: 50vh;
  overflow-y: auto;
  border-radius: 15px;
  border: solid 2px #ff5155;
}
.user-input {
  width: 10rem;
  height: 4rem;
  opacity: 0.59;
  border-radius: 15px;
  box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.8);
  background-color: #110e0e;
}
.game-word {
  border: none;
}
.score-heading {
  font-size: 2.5rem;
}
.game-score {
  font-size: 3.5rem;
  font-weight: 500;
}
.play-again {
  color: #ff5155;
  font-size: 1.8rem;
  cursor: pointer;
    span {
      margin-left: 0.6rem;
    }
}
.high-score {
  font-size: 17px;
}
.stop-game {
  color: #ff5155;
  font-size: 1.8rem;
  cursor: pointer;
}
.quit-game {
  color: #ff5155;
  font-size: 2rem;
  cursor: pointer;
}
.footer {
  position: fixed;
  bottom: 0;
}