.word-zone {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.random-word{
    font-size: 3rem;
    color: white;
    font-weight: 500;
}

.user-input{
    font-weight: 500;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #032228;
    background-color: #97a1a3;
    outline: none;
    padding: 8px;
    width: 25rem;
}