.word-zone {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.random-word{
    font-size: 30px;
    color: white;
    font-weight: 500;
}