.header-container {
    width: 100vw;
    color: #ff5155;
}
.fast-fingers {
    font-family: Bubblegum Sans;
    font-size: 1.5rem;
    font-weight: 100;
    font-stretch: normal;
    text-transform: uppercase;
}
.player-name {
    font-family: Bubblegum Sans;
    font-size: 24px;
    font-weight: normal;
    line-height: 1.2;
}
.score{
    font-family: Changa One;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
}