.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gamepad-logo{
  height: 115px;
  margin-top: 60px;
}
.play-logo {
   width: 100px;
   height: 80px; 
}
.logo {
    margin-top: 40px;
}
.header {
  margin-top: 20px;
  font-family: LaserCorpsGradient;
  font-size: 61px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  color: #ff5155;
}
.header1 {
  font-family: Gotham;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.19;
  letter-spacing: normal;
  color: #ff5155;
}
.line1 {
  width: 80.6px;
  height: 0;
  margin: 10.8px 17.9px 0 0;
  border: solid 1px #ff5155;
}
.line2 {
    width: 80.6px;
    height: 0;
    margin: 10.8px 0 0 17.9px;
    border: solid 1px #ff5155;
}
input {
  color: #032228;
  background-color: #97a1a3;
  font-size: 25px;
  padding: 8px;
  border-radius: 10px;
  width: 400px;
  min-height: 20px;
  text-transform: uppercase;
}
select{
  width: 400px;
  padding: 8px;
  border-radius: 10px;
  //background-color: transparent;
  color: #97a1a3;
  font-size: 10px;
  min-height: 20px;
  cursor: pointer;
}
.start-button {
  color: #ff5155;
  font-size: 30px;
  cursor: pointer;
}