.score-board-header{
    color: #ff5155;
    font-size: 1.3rem;
    font-family: Bubblegum Sans;
}
.personal-best {
    color: #ff5155;
    font-size: 0.5rem;
}
.score-board-items {
    color: #ffffff;
    font-size: 1rem;
    font-family: Bubblegum Sans;
}
